.container {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 17px;
    line-height: 21px;
    color: #000;
    background-color: #f5f5f5;
    -webkit-overflow-scrolling: touch;
}

/* #ifdef H5 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 17px;
    line-height: 21px;
    color: #000;
    background-color: #f5f5f5;
    -webkit-overflow-scrolling: touch;
}
body {
    font-size: 1rem;
    color: #043168;
}
/* #endif */
.pb-100 {
    padding-bottom: 100rpx;
}
.pb-50 {
    padding-bottom: 50rpx;
}
.fw-700 {
    font-weight: 700;
}
.w-75p{
	width: 75%;
}
button {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 14px;
    padding-right: 14px;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    border-radius: 5px;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
    color: #000000;
    background-color: #fff;
}
button::after {
    border: 0;
}
button[disabled] {
    background-color: #fff;
    color: #666;
}
.button-hover {
    color: rgba(0, 0, 0, 0.6);
    background-color: #fff;
}
